body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; /* Cambiado a columna para alinear verticalmente */
    height: 100vh;
    margin: 0;
    background-color: #222; /* Fondo oscuro */
    color: #fff; /* Texto blanco */
  }


