<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rankings </title>
</head>

   <div>
     <h3> Filtros </h3>
     <h3> Filtros </h3>

<!-- Categoria por edad -->
        <select name="edad" id="categoriaEdad">
        <option value="sub-junior">Sub-Junior</option>
        <option value="junior">Junior</option>
        <option value="open">Open</option>
        <!-- Add more age categories as needed -->
        </select>

        <!-- Categoria por peso -->
        <select name="peso" id="categoriaPeso">
        <option value="light">-53</option>
        <option value="middle">-59</option>
        <option value="heavy">-66</option>
        <!-- Add more weight categories as needed -->
        </select>

        <!-- Sexo -->
        <select name="sexo" id="sexo">
        <option value="masculino">Masculino</option>
        <option value="femenino">Femenino</option>
        </select>


   </div>
 


<body>
    
</body>
</html>